@model CustomersMasterDetail.DTO.CustomerDTO

<form asp-action="CreateCustomer" >
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">New Customer Detail</h1>
        </h1>
        <div class="row">

            <div  asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="FirstName" class="control-label pt-2" style="font-size:14px;"></label>
            </div>

            <div class="col-10 pb-3">
                <input asp-for="FirstName" class="form-control"> </input>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="LastName" class="control-label pt-2" style="font-size:14px;"></label>
            </div>
            <br />
            <div class="col-10 pb-3">
                <input asp-for="LastName" class="form-control"> </input>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
           
            <br />
            <div class="col-5">
            <a asp-action="Index" asp-controller="Customers" class="btn btn-success form-control"/>
            </div>
            <div class="col-5">
                <input type="submit" value ="Submit" class="btn btn-success form-control" />
            </div>


        </div>

        
    </div>


















</form>
